# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [32]:
s1 = pd.Series(np.random.randint(1, high=4, size=100))
s2 = pd.Series(np.random.randint(1, high=3, size=100))
s3 = pd.Series(np.random.randint(10000, high=30000, size=100))

print(s1, '\n\n', s2, '\n\n', s3)

0     2
1     2
2     2
3     2
4     2
     ..
95    3
96    2
97    1
98    3
99    2
Length: 100, dtype: int32

 0     1
1     1
2     2
3     2
4     2
     ..
95    1
96    2
97    2
98    1
99    2
Length: 100, dtype: int32

 0     23449
1     25778
2     28897
3     23040
4     14160
      ...
95    21972
96    20002
97    17364
98    10439
99    23021
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [33]:
all_data = pd.concat([s1, s2, s3], axis=1)
all_data.head()

   0  1      2
0  2  1  23449
1  2  1  25778
2  2  2  28897
3  2  2  23040
4  2  2  14160

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [34]:
all_data.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
all_data.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            23449
1      2       1            25778
2      2       2            28897
3      2       2            23040
4      2       2            14160

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [35]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       2
1       2
2       2
3       2
4       2
..    ...
95  21972
96  20002
97  17364
98  10439
99  23021

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [36]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [37]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        2
1        2
2        2
3        2
4        2
..     ...
295  21972
296  20002
297  17364
298  10439
299  23021

[300 rows x 1 columns]