# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
cars2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

cars1 = pd.read_csv(cars1)
cars2 = pd.read_csv(cars2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
#new_cars1 = cars1.drop(columns=['Unnamed: 9', 'Unnamed: 10','Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']) 
#or better practice loc:

cars1 = cars1.loc[:, "mpg":"car"]
cars1.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl

In [4]:
cars2.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,20.0,4,130,102,3150,15.7,76,2,volvo 245

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = cars1.append(cars2, ignore_index=True, sort=False)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([29764, 69508, 51994, 64135, 62711, 16691, 41167, 36268, 54905,
       24989, 64183, 20637, 35312, 48696, 30458, 64521, 34535, 72979,
       49684, 34088, 21640, 24653, 54416, 62219, 55801, 48314, 53752,
       28714, 41872, 47858, 25034, 60229, 24230, 58959, 31730, 68895,
       47569, 71412, 67194, 58620, 45781, 41189, 54339, 70786, 66937,
       69561, 34823, 51875, 67331, 22959, 37695, 59302, 49418, 16831,
       72292, 31337, 21647, 32657, 17843, 17862, 36909, 68799, 62082,
       64546, 61509, 37858, 52471, 67640, 45095, 67890, 37994, 49175,
       40747, 50257, 68999, 50762, 22401, 35092, 47664, 70055, 46896,
       57301, 38460, 16191, 41079, 32455, 25444, 43834, 44867, 46000,
       58650, 43511, 35693, 60680, 28044, 45861, 66974, 39961, 22443,
       57001, 22366, 68505, 67610, 54915, 16003, 27319, 55711, 47103,
       56121, 15741, 57139, 33821, 54108, 31607, 57039, 55921, 25109,
       68275, 52263, 58906, 61590, 57376, 42108, 51347, 72182, 53492,
       55463, 68319, 15312, 61118, 54883, 27435, 19281, 67497, 52962,
       43734, 58550, 25056, 38448, 24420, 64414, 19488, 46797, 66387,
       22504, 54133, 62921, 58471, 15395, 27054, 49990, 45373, 44980,
       62105, 50531, 41891, 17343, 55029, 50834, 23467, 61371, 23881,
       21598, 45344, 29683, 63072, 52608, 49398, 60238, 63417, 40840,
       58136, 46974, 39581, 29903, 32275, 72180, 72242, 39977, 57115,
       16216, 16873, 67554, 19120, 20221, 24842, 42831, 17547, 16418,
       61015, 50781, 34362, 25692, 57909, 69319, 20629, 62633, 55473,
       41417, 52166, 55100, 59081, 37841, 40840, 35403, 63496, 26627,
       57717, 50748, 19153, 45799, 60243, 39199, 35155, 63097, 39032,
       55355, 46933, 52233, 30510, 50894, 52013, 17431, 64373, 43094,
       57129, 18966, 48113, 69152, 58204, 46756, 59595, 25587, 26344,
       35997, 59284, 49588, 15787, 33166, 26554, 15087, 18019, 17752,
       39980, 51265, 25739, 47940, 29645, 47720, 65448, 60726, 49821,
       63345, 15352, 38040, 49190, 39632, 27053, 63394, 24954, 40462,
       46401, 69672, 35220, 22324, 49979, 67577, 26894, 37328, 49606,
       26540, 61413, 34979, 43814, 67006, 22825, 27865, 50863, 55869,
       28222, 48493, 37581, 65154, 42736, 24299, 34048, 62330, 66312,
       65111, 31209, 49763, 20208, 30586, 61387, 45996, 65172, 39707,
       25125, 19786, 28588, 72349, 34135, 44857, 42395, 25917, 19388,
       61738, 69544, 64792, 21741, 55743, 16580, 48817, 54345, 66142,
       54915, 27866, 69250, 32876, 65289, 34260, 25796, 37921, 42222,
       50953, 43222, 55257, 55451, 47824, 19528, 50749, 72016, 19984,
       67833, 24036, 58806, 53953, 40876, 21848, 17159, 55021, 45920,
       56148, 44653, 26702, 47859, 46208, 58297, 50462, 56228, 28988,
       64438, 21880, 28858, 60832, 43901, 36069, 21429, 19532, 19566,
       18357, 34113, 54046, 18352, 68343, 44498, 26179, 19532, 68527,
       42255, 38545, 31482, 17259, 61066, 27753, 71846, 21820, 72711,
       54840, 45488, 35417, 55106, 63915, 61749, 20469, 30362, 29743,
       29999, 33457, 16081, 48208, 44508, 35686, 56106, 70223, 64112,
       17793, 47590])

### Step 8. Add the column owners to cars

In [9]:
cars['nr_owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,nr_owners
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,56106
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,70223
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,64112
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,17793
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,47590