# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [66]:
#chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', header=0)

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_table(url, header =0)

### Step 4. See the first 10 entries

In [67]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
# chipo.set_index(["item_name", "quantity"]).count(level="item_name")
# chipo.count()
print(chipo.shape) #(row, column)
row = chipo.shape[0] #only row
column = chipo.shape[1] #only column
print(row)
print(column)

(4622, 5)
4622
5

In [59]:
# Solution 2
# chipo.count(axis='columns')
chipo.info()
len(chipo)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

4622

### Step 6. What is the number of columns in the dataset?

In [11]:
chipo.count() # or
chipo.shape[1]
#the number of columns is 5: Order_id, quantity, item_name, choice_description and item_price.

5

### Step 7. Print the name of all the columns.

In [63]:
chipo.columns

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [75]:
# 1 group by item_name, 2 sum all the columns by groups (caution: order_id is being sumed too), sorting by quantity


c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(500)

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

### Step 10. For the most-ordered item, how many items were ordered?

In [76]:
# method same as step 9, quantity of chiken soup is 761

### Step 11. What was the most ordered item in the choice_description column?

In [78]:
cd = chipo.groupby('choice_description')
cd = c.sum()
cd = c.sort_values(['quantity'], ascending=False)
cd.head(500)

# diet coke has the most ordered

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Tomatillo Red Chili Salsa, [Rice, Fajita Veget...       662         2
[Tomatillo Red Chili Salsa, [Rice, Fajita Veget...      2610         2
[Roasted Chili Corn Salsa, [Sour Cream, Cheese,...      2413         2
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...      3137         2
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...      1127         2

[500 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [85]:
 total_order = chipo.quantity.sum()
 total_order
# total order 4972

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [89]:
chipo.info(), 'all types'

chipo.item_price.dtype, 'only type for item_price'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

(dtype('O'), 'only type for item_price')

#### Step 13.b. Create a lambda function and change the type of item price

In [90]:
#totally not understand

dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [93]:
chipo.item_price.dtype, 'only type for item_price'

(dtype('float64'), 'only type for item_price')

### Step 14. How much was the revenue for the period in the dataset?

In [138]:
item_revenue = chipo['quantity'] * chipo['item_price']
total_revenue = chipo.item_revenue.sum()
print('revenue was $', total_revenue)

revenue was $ 39237.02

### Step 15. How many orders were made in the period?

In [134]:
print('order_id min =', chipo.order_id.min())
print('order_id max =', chipo.order_id.max())

#count the number of order_ids with same value, 1 1 1 = count is 3.
chipo.order_id.value_counts()

# model answer: 
#orders = chipo.order_id.value_counts().count()
#orders

order_id min = 1
order_id max = 1834

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

### Step 16. What is the average revenue amount per order?

In [123]:
# Solution 1
# calc the revenue of each item:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# calc the revenue of each order, by sum of : 
order_grouped = chipo.groupby(by=['order_id']).sum()
# calc the average revenue of each 'grouped' order: 
order_grouped.mean()['revenue']

21.394231188658654

In [124]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [126]:
chipo.item_name.value_counts().count()

50

In [133]:
chipo.order_id.dtype

dtype('int64')